doctype html
html
	head
	title= title
	link(rel='icon', type='image/x-icon', href='/images/favicon.ico')
	link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.container
			.row
				block content

		script(type="text/javascript",src='/javascripts/jquery.js')
		script(type="text/javascript",src='/javascripts/bootstrap.min.js')
		block js