extends ../layout

block content
	.col-md-12
		h2 Edit post
	.row
		.col-md-12
			form(method="post" action="/posts/update/#{post._id}")
				.form-group
					labe(for="title") Title:
					input(type="text",name="title",value="#{post.title}").form-control
				.form-group
					lavel(for="body") Body:
					textarea(name="body").form-control #{post.body}
				button.btn.btn-primary Update post
				| &nbsp;
				button.btn.btn-default Back